In [24]:
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt
from pandas_profiling import ProfileReport
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.decomposition import PCA

In [25]:
data = pd.read_csv("donors.csv", header=0, sep=',')

/Users/miguelcoutinhonunes/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [26]:
data.head()

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A

In [27]:
data.columns

Index(['Unnamed: 0', 'ODATEDW', 'OSOURCE', 'TCODE', 'STATE', 'ZIP', 'MAILCODE',
       'PVASTATE', 'DOB', 'NOEXCH',
       ...
       'AVGGIFT', 'CONTROLN', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A',
       'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object', length=476)

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 476 entries, Unnamed: 0 to GEOCODE2
dtypes: float64(49), int64(302), object(125)
memory usage: 346.5+ MB

# Data Preparation

## Problems:
- Duplicates?
- Data types?
- Missing values?
- Strange values?
- Descriptive statistics?

In [29]:
# replace "" by nans
data.replace("", np.nan, inplace=True)

In [30]:
data.dtypes

Unnamed: 0     int64
ODATEDW       object
OSOURCE       object
TCODE          int64
STATE         object
               ...
RFA_2A        object
MDMAUD_R      object
MDMAUD_F      object
MDMAUD_A      object
GEOCODE2      object
Length: 476, dtype: object

In [31]:
# check descriptive statistics again
data.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Unnamed: 0,95412,NaN,NaN,NaN,47705.5,27543.2,0,23852.8,47705.5,71558.2,95411
ODATEDW,95412,54,2015-01-01,15358,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OSOURCE,95412,896,MBC,4539,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TCODE,95412,NaN,NaN,NaN,54.2231,953.844,0,0,1,2,72002
STATE,95412,57,CA,17343,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
RFA_2A,95412,4,F,46964,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_R,95412,5,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_F,95412,4,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MDMAUD_A,95412,5,X,95118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GEOCODE2,95280,5,A,34484,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Missing values

### Data Reduction

In order to deal with missing values it was necessary to calculate it dimension (percentage) of each column in the data set. 
A copy of data was created to assess an overview of our data exploration in every step of the data cleansing. 
After the missing values assessment, the data set will have a reduction of features which percentage is above 30% in order to correct inconsistencies in data.

In [32]:
data_central = data.copy()

In [33]:
# Percentage of missing values in each column
nan_percentage = data_central.isna().sum()/len(data_central)*100.00
nan_percentage

Unnamed: 0    0.000000
ODATEDW       0.000000
OSOURCE       0.000000
TCODE         0.000000
STATE         0.000000
                ...
RFA_2A        0.000000
MDMAUD_R      0.000000
MDMAUD_F      0.000000
MDMAUD_A      0.000000
GEOCODE2      0.138347
Length: 476, dtype: float64

In [34]:
# Total value of missing values
data_central.isna().values.sum()

5158884

In [35]:
# Select the columns with a "nan" percentage above 30%
above_na = nan_percentage[nan_percentage>=30]
above_na

NUMCHLD     87.018404
WEALTH1     46.882992
MBCRAFT     55.395548
MBGARDEN    55.395548
MBBOOKS     55.395548
              ...
RAMNT_20    91.732696
RAMNT_21    90.029556
RAMNT_22    78.123297
RAMNT_23    91.763091
RAMNT_24    81.409047
Length: 69, dtype: float64

In [36]:
# Check the number of columns above 30%
len(above_na)

69

In [37]:
# Drop the list above_na which contains the columns names of data 
data_central = data_central.drop(columns=above_na.index)

In [38]:
# Check the missing values
data_central.isna().sum().unique()

array([    0, 23883, 21286,   132,  1950,  2191,  3557,  8874,  3511,
       11245, 10422,  8923, 18867, 20364, 27650, 21263, 24480, 25648,
           2,  9973])

### Fill Missing Values

In order to fill the missing values, we have to divide the data into metric and non-metric features to

In [39]:
# Check the data types in data
data.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [40]:
# Check the object columns = non-metric columns
non_metric_features = data_central.select_dtypes(include=['object']).columns

# Drop the non metric features
metric_features = data_central.columns.drop(non_metric_features).to_list()

In [41]:
# Calculate the sum of missing values
data_central.isna().sum()

Unnamed: 0      0
ODATEDW         0
OSOURCE         0
TCODE           0
STATE           0
             ...
RFA_2A          0
MDMAUD_R        0
MDMAUD_F        0
MDMAUD_A        0
GEOCODE2      132
Length: 407, dtype: int64

In [42]:
#Calculate the median of each quantitive feature
data_central.median()

Unnamed: 0    47705.500000
TCODE             1.000000
INCOME            4.000000
HIT               0.000000
MALEMILI          0.000000
                  ...
TIMELAG           6.000000
AVGGIFT          11.636364
CONTROLN      95681.500000
HPHONE_D          1.000000
RFA_2F            2.000000
Length: 312, dtype: float64

In [ ]:
# Não tenho a certeza disto
# Get the mode(s) of each element along the non-metric features.
# The mode of a set of values is the value that appears most often. It can be multiple values.
modes = data_central[non_metric_features]
modes

In [47]:
modes = data_central[non_metric_features].mode().loc[0]
modes

ODATEDW     2015-01-01
OSOURCE            MBC
STATE               CA
ZIP              85351
MAILCODE
               ...
RFA_2A               F
MDMAUD_R             X
MDMAUD_F             X
MDMAUD_A             X
GEOCODE2             A
Name: 0, Length: 95, dtype: object

Filling the non-metric and metric missing values

In [48]:
# Fill NaNs on df_central
data_central.fillna(data_central.median(), inplace=True)
data_central.fillna(modes, inplace=True)
data_central.isna().sum()  # checking how many NaNs we still have

Unnamed: 0    0
ODATEDW       0
OSOURCE       0
TCODE         0
STATE         0
             ..
RFA_2A        0
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
GEOCODE2      0
Length: 407, dtype: int64

In [49]:
# Check the number of missing values 
data_central.isna().values.sum()

0

É suposto dar um valor tão grande de missing values?

### Outlier Removal

In [51]:
data_original = data.copy()

In [52]:
data = data_central.copy()

In [53]:
# Compute the IQR
#only for metric variables 
q25 = data.quantile(.25)
q75 = data.quantile(.75)
iqr = (q75 - q25) * 1.5

# Compute upper and lower limit (lower_limit = Q1 -1.5*IQR | upper_limit = Q3 + 1.5*IQR)
upper_lim = q75 + 1.5 * iqr
lower_lim = q25 - 1.5 * iqr

filters = []
for metric in metric_features:
    llim = lower_lim[metric]
    ulim = upper_lim[metric]
    filters.append(data[metric].between(llim, ulim, inclusive=True))

data_2 = data[np.all(filters, 0)]
print('Percentage of data kept after removing outliers:', np.round(data_2.shape[0] / data_original.shape[0], 4))

Percentage of data kept after removing outliers: 0.0034

ISTO ESTÁ MAL!!

## Data Normalization

In [54]:
data_standard = data.copy()

In [55]:
scaler = StandardScaler()
scaled_feat = scaler.fit_transform(data_standard[metric_features])
scaled_feat

array([[-1.73203265, -0.05684721,  0.05402941, ..., -0.00476043,
        -1.00123751,  1.94822609],
       [-1.73199635, -0.05579882,  1.27676515, ...,  0.95428208,
        -1.00123751,  0.08384741],
       [-1.73196004, -0.05579882, -0.55733846, ..., -1.4597303 ,
         0.99876402,  1.94822609],
       ...,
       [ 1.73196004, -0.05579882,  0.05402941, ...,  1.6978204 ,
         0.99876402,  1.01603675],
       [ 1.73199635, -0.05684721,  1.88813301, ..., -1.64757746,
         0.99876402,  1.94822609],
       [ 1.73203265, -0.05475042,  0.66539728, ...,  1.61593459,
         0.99876402, -0.84834193]])

In [56]:
# See what the fit method is doing (notice the trailing underscore):
print("Parameters fitted:\n", scaler.mean_, "\n", scaler.var_)

Parameters fitted:
 [4.77055000e+04 5.42231166e+01 3.91162537e+00 3.32143756e+00
 1.04844254e+00 3.04453318e+01 2.97023121e+01 3.26377185e+01
 6.84232591e+00 4.56856580e+00 3.11086656e+00 3.25588020e+03
 8.64993083e+02 1.22257346e+03 5.85896533e+01 1.36224794e+01
 2.61405274e+01 4.82117239e+01 5.09513898e+01 8.48545047e+01
 7.46740452e+00 7.76904373e-01 2.90570369e+00 7.45807655e+00
 2.16010565e-01 3.97350438e-01 6.12805517e-01 5.61491217e-01
 2.50586928e-01 2.10308976e-01 6.83876242e-02 5.13816920e+00
 3.02477676e-01 3.27432608e-01 1.51361464e+00 3.44752756e+01
 4.19113214e+01 4.51086446e+01 3.59173794e+01 4.46942313e+01
 4.78894374e+01 2.45150924e+01 3.95927451e+01 3.83576385e+01
 2.10147151e+01 1.21968725e+01 2.21898189e+01 2.06529787e+01
 1.40577810e+01 1.18577852e+01 1.05432755e+01 7.66796629e+00
 1.61756592e+01 1.61394269e+01 3.16346476e+01 1.97541714e+01
 1.52568545e+01 2.46032889e+01 9.37184002e+00 2.23084727e+01
 2.28217101e+01 3.36304448e+01 4.26974280e+01 2.56154153e+01
 1.04710204e+01 3.89645956e+00 5.81006163e+01 1.06933509e+01
 7.42469501e+00 2.29484237e+01 1.85271737e+02 2.59684998e+02
 7.00835325e+01 6.60365992e+01 2.90086153e+00 1.94807781e+01
 1.65554018e+01 1.31029221e+01 1.78984824e+00 1.16031526e+00
 6.21200688e-01 1.06183824e+03 1.13303109e+03 4.22424852e+00
 3.87588563e+00 6.96968306e+01 2.94457720e+01 8.99666080e+01
 9.17647675e+00 1.37372762e+01 3.56545298e+01 7.15038989e+01
 5.87550518e+01 2.77805517e+01 8.19259422e+01 1.72360080e+01
 7.87391523e+00 1.62375802e+00 6.24786190e+00 1.36095984e+01
 1.89109651e+01 4.82245420e+00 1.67533958e+01 5.07860961e+01
 1.73581730e+01 1.96365237e+00 4.57253805e+00 8.36152685e-01
 1.35875990e+01 2.10494487e+01 3.51052279e+01 5.11743806e+01
 7.39067937e+01 6.44634847e+00 4.85428458e+00 4.57481973e+01
 5.29352807e+01 5.37692743e+01 1.41363351e+01 4.39216241e+00
 1.01542992e+01 9.31399614e+00 8.55086362e+00 1.11587012e+01
 5.21987800e+00 1.10053557e+01 1.61260638e+00 2.91411038e+01
 4.23663795e+01 5.96819792e+01 7.65225653e+01 3.52749820e+03
 1.87339307e+02 6.63963946e+02 3.40056387e+02 3.87027114e+02
 3.87418302e+02 4.30792961e+02 1.57227382e+04 2.14979353e+01
 1.69079780e+01 1.57473798e+01 1.83375990e+01 1.59514631e+01
 5.58624701e+00 2.21189159e+00 9.35699912e-01 1.88858844e+00
 1.47955603e+01 1.59254916e+01 1.64338658e+01 2.06132457e+01
 1.86659120e+01 6.58441286e+00 2.60261812e+00 1.12269945e+00
 2.28186182e+00 2.67633526e+01 6.10250283e+00 4.29629711e+01
 1.07409026e+01 4.83619775e+01 5.07468872e+01 1.22761812e+01
 7.60955959e+01 1.29974951e+01 2.39892257e+00 1.83242150e+00
 4.54806523e-01 1.01894940e-01 2.39047499e-01 4.07133275e+00
 3.25396177e+00 2.26758689e+00 1.82998470e+01 1.94803798e+01
 2.37236721e+01 5.30632415e+00 6.00420073e+01 6.45315998e+01
 7.38526810e+01 5.60238335e+01 6.98019851e+01 5.29552991e+01
 6.41107932e+01 4.87985683e+01 7.01024190e+01 6.26627678e+01
 6.63637698e+00 1.41227623e+01 1.25959418e+01 3.54105354e+00
 1.24030625e+01 1.55049889e+01 4.19108708e-01 1.64470926e+00
 1.05446694e+01 2.85628642e+00 1.13764516e+01 6.30922735e+00
 4.01224165e+00 3.74187733e+00 3.15680418e+00 7.19175785e-01
 6.41164633e+00 1.69684421e+01 4.28046787e+00 2.71480527e+00
 4.36923029e+00 1.69178824e+01 6.86073031e+00 4.68063766e+00
 3.28641051e+00 1.54741542e+00 8.04762504e+00 8.05565338e+00
 6.47793779e+00 4.58526181e+00 7.00866767e+00 4.67540771e+00
 3.18706242e+00 8.04853687e+00 6.95677168e+01 6.08629942e+00
 4.97736134e-01 1.28022534e+02 8.77020710e+00 1.28459628e+01
 2.87255481e+01 2.07913365e+01 6.54461703e+00 1.40698235e+01
 7.36604410e+00 3.72615604e+00 2.20926403e+01 1.88370436e+00
 1.71301933e+01 6.80875571e+00 5.96581143e-01 1.06155410e+00
 1.45663019e-01 1.55742779e+01 3.12699975e+01 1.28021632e+00
 3.05838888e+01 1.79217918e+01 3.33756131e+01 1.13141324e+01
 7.19574058e-01 5.47156542e+00 8.65949776e-01 1.01699472e+01
 1.90636398e-01 1.77545801e-01 4.85050099e+00 1.80725695e+00
 7.75992538e-01 1.33323901e+00 1.67913889e-01 3.96249948e-01
 7.26701044e-01 7.26533350e-01 7.82291536e-02 6.62500524e+00
 5.70325955e+01 8.77628600e+01 5.98555737e+00 1.87326542e+00
 3.45415671e+00 9.17806670e+01 6.03766403e+01 2.00144741e+01
 6.86174695e+00 2.38754978e+01 2.58980003e+00 1.24097912e+01
 2.26947763e+01 4.60236867e+01 6.24145391e+01 3.61335367e+01
 2.74489582e+00 1.31634386e+00 5.18698172e+01 6.87846392e+00
 2.98020060e+01 4.55833648e+00 7.09659162e-02 5.29873601e+00
 8.26304972e+01 1.51528634e+01 7.19445667e+01 9.75615646e+01
 9.43938813e+01 8.11283696e+00 2.33155159e+00 5.82587096e+00
 5.98133358e+00 1.84351444e+01 4.69733472e+01 5.34893934e+00
 1.28569362e+01 1.04489351e+02 9.60203119e+00 5.05824215e+00
 7.93365572e+00 1.99997898e+01 1.73131270e+01 7.87488995e+00
 1.33477860e+01 9.57781770e+04 5.00618371e-01 1.91005324e+00]
 [7.58620812e+08 9.09809748e+05 2.67543732e+00 8.66174573e+01
 2.56592472e+01 1.31572233e+02 2.27939712e+02 3.13607695e+02
 1.92868188e+01 2.62819398e+01 1.72652418e+01 3.29841989e+07
 2.12604334e+06 4.50749041e+06 2.24965472e+03 9.74807925e+02
 1.60301299e+03 3.09753487e+01 3.32736401e+01 4.41578315e+02
 2.78578917e+02 1.20360456e+01 4.99809732e+01 1.90053487e+02
 4.61409700e-01 4.98251426e+00 6.41978865e+00 5.33237152e+00
 1.00706114e+00 1.11115939e+00 1.36811691e+00 1.28447653e+02
 1.67136727e+00 1.02953264e+01 1.13250253e+01 6.94817913e+01
 6.80563524e+01 6.57568628e+01 5.27246856e+01 4.84411762e+01
 4.73710296e+01 5.64791144e+01 6.77692565e+01 4.07109305e+01
 3.39562669e+01 3.68229986e+01 6.06488198e+01 3.85766793e+01
 1.86306173e+01 1.71850636e+01 3.60457837e+01 4.52079107e+01
 2.62231790e+01 1.36647822e+01 2.89879175e+01 2.08128652e+01
 3.18376752e+01 1.71354621e+02 5.53754859e+01 1.68061030e+02
 1.38522535e+02 6.77733355e+01 2.11365762e+02 1.22305015e+02
 4.07392872e+01 1.43868290e+01 1.68161972e+02 2.04612424e+01
 2.38895520e+01 7.88954973e+01 2.50409629e+03 2.49016549e+03
 6.23726075e+02 6.94481074e+02 2.87859939e+01 5.69028421e+02
 5.12814868e+02 4.18515337e+02 3.48908444e+01 1.81034652e+01
 1.57568800e+01 8.86913700e+05 8.97528207e+05 5.32652055e+00
 5.03723051e+00 4.71626551e+02 4.36810594e+02 1.67835698e+02
 9.92154078e+01 4.40225143e+02 1.69911003e+02 2.29118848e+02
 2.63714547e+02 1.42597023e+02 1.98992943e+02 1.44748434e+02
 2.80622899e+01 1.26312901e+00 2.19313432e+01 5.04601405e+01
 8.75328329e+01 1.69956858e+01 4.70893666e+01 2.10941532e+02
 1.51270760e+02 2.06816328e+01 1.01466094e+02 8.52403864e+00
 7.08779722e+02 1.01744767e+03 1.34282109e+03 1.35018529e+03
 8.75923156e+02 3.26337026e+02 5.69335002e+01 4.59622096e+02
 1.15237091e+02 1.08466554e+02 6.55266165e+00 1.39935709e+00
 1.63590936e+02 2.92729531e+02 2.07455227e+02 6.07680265e+01
 5.56473628e+01 3.17122356e+02 9.13081328e+00 1.03651649e+03
 1.22015081e+03 1.08199559e+03 5.89310804e+02 8.19056084e+06
 1.87482972e+04 1.35227748e+04 2.65306859e+04 3.01417228e+04
 2.60079783e+04 2.94611202e+04 7.33352775e+07 2.10555240e+02
 6.33515496e+01 3.94183551e+01 5.53240955e+01 9.38176773e+01
 3.40506149e+01 1.11975348e+01 3.69842912e+00 2.15362396e+01
 1.52302019e+02 8.41036067e+01 5.83788799e+01 7.17863097e+01
 1.13298082e+02 4.44374412e+01 1.52660071e+01 5.39035507e+00
 3.05949240e+01 1.92232987e+02 3.86332067e+01 2.90847715e+02
 9.93481937e+01 2.55247006e+02 2.57426711e+02 1.05166786e+02
 1.76613184e+02 4.48595607e+01 3.12585860e+01 2.09534397e+01
 4.83073540e+00 5.39862673e-01 4.83731655e-01 3.01704032e+01
 1.35998748e+01 3.88832352e+01 3.63187552e+02 4.58702917e+01
 4.39576323e+01 2.85487576e+01 3.02805974e+02 1.85001003e+02
 2.14427088e+02 1.88837943e+02 2.24491468e+02 1.88849079e+02
 2.68630631e+02 2.98678674e+02 9.46669299e+02 1.99993348e+03
 8.55527236e+01 6.77564571e+01 5.09595936e+01 6.58003389e+00
 3.06928942e+01 3.29144827e+01 9.90029357e-01 3.55425941e+00
 3.63309292e+01 2.60791033e+01 3.43296086e+01 3.45114509e+01
 1.03886482e+01 8.88057011e+00 3.10329419e+01 6.05671819e+00
 1.69937134e+01 1.03368884e+02 1.02514011e+01 5.45403687e+00
 9.59386017e+00 3.81766613e+01 2.17206576e+01 9.44998229e+00
 1.04151287e+01 4.97726169e+00 2.02173898e+01 2.87648983e+01
 1.89607655e+01 1.66738921e+01 1.82113134e+01 2.56528254e+01
 1.73215875e+01 2.99397164e+01 1.51312157e+02 1.89665599e+01
 1.07238619e+00 3.14547369e+02 6.85354755e+01 5.77965991e+01
 1.05244762e+02 5.07413189e+01 1.15448902e+01 9.46682895e+01
 4.98024662e+01 1.46636797e+01 5.99994776e+01 1.85617725e+00
 4.06086943e+01 3.21283001e+01 1.00452459e+01 2.40425260e+01
 1.13656118e+00 2.77776233e+01 1.09740007e+02 2.69085792e+00
 2.10076757e+02 9.46544293e+01 2.90768213e+02 1.14788505e+02
 5.26467240e+00 1.82239326e+01 1.85118746e+00 6.84420965e+01
 5.00560879e-01 2.84182012e-01 1.10341000e+01 6.26792705e+00
 4.57912305e+00 8.30660363e+00 7.50543449e-01 2.03448181e+00
 9.55261984e-01 1.59668289e+00 1.50631971e-01 9.30480449e+01
 4.74373398e+02 2.76556769e+02 1.45049911e+02 2.39183281e+01
 2.02834704e+01 1.56808546e+02 3.53523530e+02 1.17759810e+02
 1.59601864e+01 1.57056765e+02 3.58937198e+01 2.89158351e+02
 5.72263775e+02 1.02641062e+03 1.00786260e+03 9.76020601e+02
 5.91458806e+01 1.16304322e+01 1.27059315e+03 1.45642903e+02
 7.82487388e+02 9.33942722e+01 2.43664212e-01 1.08223831e+02
 8.10264790e+02 7.13101890e+02 1.26599840e+03 9.26599104e+01
 1.15339313e+02 1.24676896e+01 7.51453665e-01 8.23878569e+00
 1.05764658e+01 7.36807495e+01 5.27632742e+02 1.48786067e+00
 2.06480231e+01 1.40611560e+04 7.31759918e+01 2.04903508e+01
 7.71618983e+01 6.28385285e+02 1.94785482e+02 6.08159305e+01
 1.15991629e+02 3.05635453e+09 2.49999618e-01 1.15077849e+00]

In [57]:
data_standard[metric_features] = scaled_feat
data_standard.head()

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,-1.732033,2009-01-01,GRI,-0.056847,IL,61081,,,1957-12-01,0,...,-0.520509,-0.004760,-1.001238,L,1.948226,E,X,X,X,C
1,-1.731996,2014-01-01,BOA,-0.055799,CA,91326,,,1972-02-01,0,...,0.215310,0.954282,-1.001238,L,0.083847,G,X,X,X,A
2,-1.731960,2010-01-01,AMH,-0.055799,NC,27017,,,1968-01-01,0,...,-0.544692,-1.459730,0.998764,L,1.948226,E,X,X,X,C
3,-1.731924,2007-01-01,BRY,-0.056847,CA,95953,,,1948-01-01,0,...,-0.606808,1.388782,0.998764,L,1.948226,E,X,X,X,C
4,-1.731887,2006-01-01,,-0.056847,FL,33176,,,1940-01-01,0,...,-0.601946,-1.603822,0.998764,L,0.083847,F,X,X,X,A

In [58]:
# Checking mean and variance of standardized variables
data_standard[metric_features].describe().round(2)

,Unnamed: 0,TCODE,INCOME,HIT,MALEMILI,MALEVET,VIETVETS,WWIIVETS,LOCALGOV,STATEGOV,...,NGIFTALL,CARDGIFT,MINRAMNT,MAXRAMNT,LASTGIFT,TIMELAG,AVGGIFT,CONTROLN,HPHONE_D,RFA_2F
count,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,...,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.00,95412.0,95412.00
mean,-0.00,0.00,-0.00,0.00,0.00,-0.00,-0.00,-0.00,-0.00,0.00,...,0.00,0.00,-0.00,0.00,0.00,-0.00,0.00,0.00,-0.0,0.00
std,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.0,1.00
min,-1.73,-0.06,-1.78,-0.36,-0.21,-2.65,-1.97,-1.84,-1.56,-0.89,...,-1.01,-1.12,-0.90,-0.60,-1.24,-1.01,-1.12,-1.73,-1.0,-0.85
25%,-0.87,-0.06,-0.56,-0.36,-0.21,-0.56,-0.64,-0.66,-0.65,-0.70,...,-0.77,-0.68,-0.56,-0.24,-0.52,-0.50,-0.46,-0.87,-1.0,-0.85
50%,0.00,-0.06,0.05,-0.36,-0.21,0.05,-0.05,-0.04,-0.19,-0.31,...,-0.30,-0.23,-0.33,-0.12,-0.17,-0.24,-0.16,-0.00,1.0,0.08
75%,0.87,-0.05,0.67,-0.03,-0.21,0.57,0.62,0.59,0.49,0.28,...,0.40,0.43,0.24,0.12,0.19,0.27,0.20,0.87,1.0,1.02
max,1.73,75.43,1.89,25.54,19.34,5.98,4.59,3.75,20.98,18.42,...,26.58,7.94,112.94,198.66,70.41,138.50,91.61,1.74,1.0,1.95

In [59]:
data = data_standard.copy()

## One-hot encoding

In [60]:
data_ohc = data.copy()
data_ohc

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,-1.732033,2009-01-01,GRI,-0.056847,IL,61081,,,1957-12-01,0,...,-0.520509,-0.004760,-1.001238,L,1.948226,E,X,X,X,C
1,-1.731996,2014-01-01,BOA,-0.055799,CA,91326,,,1972-02-01,0,...,0.215310,0.954282,-1.001238,L,0.083847,G,X,X,X,A
2,-1.731960,2010-01-01,AMH,-0.055799,NC,27017,,,1968-01-01,0,...,-0.544692,-1.459730,0.998764,L,1.948226,E,X,X,X,C
3,-1.731924,2007-01-01,BRY,-0.056847,CA,95953,,,1948-01-01,0,...,-0.606808,1.388782,0.998764,L,1.948226,E,X,X,X,C
4,-1.731887,2006-01-01,,-0.056847,FL,33176,,,1940-01-01,0,...,-0.601946,-1.603822,0.998764,L,0.083847,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,1.731887,2016-01-01,ASE,-0.055799,AK,99504,,,1968-01-01,0,...,1.081920,1.606058,-1.001238,L,-0.848342,G,X,X,X,C
95408,1.731924,2016-01-01,DCD,-0.055799,TX,77379,,,1970-01-01,0,...,0.617665,0.487079,0.998764,L,-0.848342,F,X,X,X,A
95409,1.731960,2015-01-01,MBC,-0.055799,MI,48910,,,1958-01-01,0,...,-0.470019,1.697820,0.998764,L,1.016037,E,X,X,X,B
95410,1.731996,2006-01-01,PRV,-0.056847,CA,91320,,,1960-05-01,0,...,-0.111555,-1.647577,0.998764,L,1.948226,F,X,X,X,A
95411,1.732033,2008-01-01,MCC,-0.054750,NC,28409,,,1938-01-01,0,...,7.748147,1.615935,0.998764,L,-0.848342,G,C,1,C,C

In [62]:
# Use OneHotEncoder to encode the categorical features. Get feature names and create a DataFrame 
# with the one-hot encoded categorical features (pass feature names)
ohc = OneHotEncoder(sparse=False, drop="first")
ohc_feat = ohc.fit_transform(data_ohc[non_metric_features])

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['int', 'str']

### Redo data exploration