In [112]:
import numpy as np
import scipy as sc
import pandas as pd
import matplotlib.pyplot as plt

In [113]:
data = pd.read_csv("donors.csv", header=0, sep=',')

/Users/sofia/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (9,412) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [114]:
data.head()

,Unnamed: 0,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,...,AVGGIFT,CONTROLN,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,0,2009-01-01,GRI,0,IL,61081,,,1957-12-01,0,...,7.741935,95515,0,L,4,E,X,X,X,C
1,1,2014-01-01,BOA,1,CA,91326,,,1972-02-01,0,...,15.666667,148535,0,L,2,G,X,X,X,A
2,2,2010-01-01,AMH,1,NC,27017,,,NaN,0,...,7.481481,15078,1,L,4,E,X,X,X,C
3,3,2007-01-01,BRY,0,CA,95953,,,1948-01-01,0,...,6.812500,172556,1,L,4,E,X,X,X,C
4,4,2006-01-01,,0,FL,33176,,,1940-01-01,0,...,6.864865,7112,1,L,2,F,X,X,X,A

In [115]:
data.columns

Index(['Unnamed: 0', 'ODATEDW', 'OSOURCE', 'TCODE', 'STATE', 'ZIP', 'MAILCODE',
       'PVASTATE', 'DOB', 'NOEXCH',
       ...
       'AVGGIFT', 'CONTROLN', 'HPHONE_D', 'RFA_2R', 'RFA_2F', 'RFA_2A',
       'MDMAUD_R', 'MDMAUD_F', 'MDMAUD_A', 'GEOCODE2'],
      dtype='object', length=476)

In [116]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 476 entries, Unnamed: 0 to GEOCODE2
dtypes: float64(49), int64(302), object(125)
memory usage: 346.5+ MB

# Data Preparation

## Problems:
- Duplicates?
- Data types?
- Missing values?
- Strange values?
- Descriptive statistics?

In [117]:
# replace "" by nans
data.replace("", np.nan, inplace=True)

In [118]:
data.dtypes

Unnamed: 0     int64
ODATEDW       object
OSOURCE       object
TCODE          int64
STATE         object
               ...
RFA_2A        object
MDMAUD_R      object
MDMAUD_F      object
MDMAUD_A      object
GEOCODE2      object
Length: 476, dtype: object

## Missing values

### Data Reduction

In order to deal with missing values it was necessary to calculate it dimension (percentage) of each column in the data set. 
A copy of data was created to assess an overview of our data exploration in every step of the data cleansing. 
After the missing values assessment, the data set will have a reduction of features which percentage is above 30% in order to correct inconsistencies in data.

In [119]:
data_central = data.copy()

In [120]:
# Percentage of missing values in each column
nan_percentage = data_central.isna().sum()/len(data_central)*100.00
nan_percentage

Unnamed: 0    0.000000
ODATEDW       0.000000
OSOURCE       0.000000
TCODE         0.000000
STATE         0.000000
                ...
RFA_2A        0.000000
MDMAUD_R      0.000000
MDMAUD_F      0.000000
MDMAUD_A      0.000000
GEOCODE2      0.138347
Length: 476, dtype: float64

In [121]:
# Total value of missing values
data_central.isna().values.sum()

5158884

In [122]:
# Select the columns with a "nan" percentage above 30%
above_na = nan_percentage[nan_percentage>=30]
above_na

NUMCHLD     87.018404
WEALTH1     46.882992
MBCRAFT     55.395548
MBGARDEN    55.395548
MBBOOKS     55.395548
              ...
RAMNT_20    91.732696
RAMNT_21    90.029556
RAMNT_22    78.123297
RAMNT_23    91.763091
RAMNT_24    81.409047
Length: 69, dtype: float64

In [123]:
# Check the number of columns above 30%
len(above_na)

69

In [124]:
# Drop the list above_na which contains the columns names of data 
data_central = data_central.drop(columns=above_na.index)

In [125]:
# Check the missing values
data_central.isna().sum().unique()

array([    0, 23883, 21286,   132,  1950,  2191,  3557,  8874,  3511,
       11245, 10422,  8923, 18867, 20364, 27650, 21263, 24480, 25648,
           2,  9973])

### Fill Missing Values

In order to fill the missing values, we have to divide the data into metric and non-metric features to

In [126]:
# Check the data types in data
data.dtypes.unique()

array([dtype('int64'), dtype('O'), dtype('float64')], dtype=object)

In [127]:
# Check the object columns = non-metric columns
non_metric_features = data_central.select_dtypes(include=['object']).columns

# Drop the non metric features
metric_features = data_central.columns.drop(non_metric_features).to_list()

In [128]:
# Calculate the sum of missing values
na_sum = data_central.isna().sum()

#Calculate the median of each quantitive feature
na_median = data_central.median()

In [129]:
# NÃ£o tenho a certeza disto
# Get the mode(s) of each element along the non-metric features.
# The mode of a set of values is the value that appears most often. It can be multiple values.
modes = data_central[non_metric_features]
modes

,ODATEDW,OSOURCE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,...,MAXRDATE,LASTDATE,FISTDATE,NEXTDATE,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2
0,2009-01-01,GRI,IL,61081,,,1957-12-01,0,,,...,2014-02-01,2015-12-01,2009-11-01,2010-03-01,L,E,X,X,X,C
1,2014-01-01,BOA,CA,91326,,,1972-02-01,0,,,...,2015-12-01,2015-12-01,2013-10-01,2015-04-01,L,G,X,X,X,A
2,2010-01-01,AMH,NC,27017,,,NaN,0,,,...,2012-07-01,2015-12-01,2010-01-01,2011-01-01,L,E,X,X,X,C
3,2007-01-01,BRY,CA,95953,,,1948-01-01,0,,,...,2014-11-01,2015-12-01,2007-02-01,2007-11-01,L,E,X,X,X,C
4,2006-01-01,,FL,33176,,,1940-01-01,0,X,X,...,2016-01-01,2016-01-01,1999-03-01,2000-05-01,L,F,X,X,X,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,2016-01-01,ASE,AK,99504,,,NaN,0,,,...,2016-02-01,2016-02-01,2016-02-01,NaN,L,G,X,X,X,C
95408,2016-01-01,DCD,TX,77379,,,1970-01-01,0,,,...,2016-03-01,2016-03-01,2016-03-01,NaN,L,F,X,X,X,A
95409,2015-01-01,MBC,MI,48910,,,1958-01-01,0,,X,...,2015-01-01,2016-10-01,2014-10-01,2015-01-01,L,E,X,X,X,B
95410,2006-01-01,PRV,CA,91320,,,1960-05-01,0,X,,...,2016-08-01,2017-01-01,2006-12-01,2007-04-01,L,F,X,X,X,A
95411,2008-01-01,MCC,NC,28409,,,1938-01-01,0,X,,...,2013-12-01,2016-12-01,2008-03-01,2008-09-01,L,G,C,1,C,C

Filling the non-metric and metric missing values

In [130]:
data_central = data_central.fillna(data_central.median())
data_central = data_central.fillna(modes)
#data_central.isna().sum()  # checking how many NaNs we still have

In [131]:
# Check the number of missing values 
data_central.isna().sum().values.sum()

222935

Ã‰ suposto dar um valor tÃ£o grande de missing values?

### Outlier Removal

In [ ]:
q25 = .quantile(.25)
q75 = df.quantile(.75)
iqr = (q75 - q25)

upper_lim = q75 + 1.5 * iqr
lower_lim = q25 - 1.5 * iqr

filters = []
for metric in metric_features:
    llim = lower_lim[metric]
    ulim = upper_lim[metric]
    filters.append(df[metric].between(llim, ulim, inclusive=True))

df_2 = df[np.all(filters, 0)]
print('Percentage of data kept after removing outliers:', np.round(df_2.shape[0] / df_original.shape[0], 4))